<div *mobxAutorun>
<div  class="products-in-cart">
  <table class="table-fill">
    <thead>
    <tr>
      <th class="text-left">Product name</th>
      <th class="text-left">Qty</th>
      <th class="text-left">Price</th>
      <th class="text-left">Actions</th>
    </tr>
    </thead>
    <tbody class="table-hover">
    <tr *ngFor="let product of store.cartItems">
      <td class="text-left">{{product.product.name}}</td>
      <td class="text-left">{{product.quantity}}</td>
      <td class="text-left">{{product.product.price * product.quantity | currency}} </td>
      <td>
         <img class="trash-icon"
              src="../../assets/trash.svg"
              alt="trash-icon"
              (click)=deleteProduct(product.product.id)>
      </td>
    </tr>
    </tbody>
  </table>
 </div>


 <div *ngIf="store.totalSum > 0" class="total-price">Total price is {{store.totalSum | currency}}$</div>
</div>
