<header>
  <breadcrumb></breadcrumb>
  <div class="header-title">Frontend tech store</div>
  <div class="icons-container">
    <a routerLink="/shopping-cart">
      <div class="icon-and-notification-container">
        <img class="shopping-cart-icon" src="../../assets/shopping-cart.svg" alt="user-icon">
        <span class="notifications" *ngIf="shoppingCartItems !== 0">{{shoppingCartItems}}</span>
      </div>
    </a>
    <a routerLink="/notifications-page">
      <div class="icon-and-notification-container">
        <img class="user-icon" src="../../assets/user-icon.svg" alt="user-icon">
        <span class="notifications" *ngIf="userNotifications !== 0">{{allNotifications}}</span>
      </div>
    </a>
  </div>
</header>
