@import url(https://fonts.googleapis.com/css?family=Muli);

.main-container {
  display: grid;
  grid-template-columns: 1fr 8fr;
  height: 95vh;
}

.content {
  display: flex;
  justify-content: center;
}

.main-container sidebar-navigation {
  background-color: #282b2e;
}

