.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ddbf5e;
  height: 100%;
}

.name {
  font-size: 1.3em;
  font-weight: bold;
  color: white;
}

.description {
  margin-top: 10px;
  color: black;
  font-weight: 700;
}
